begin
 remote = nec
 button = KEY_LEFT
 prog   = pylirc
 config = left
end

begin
 remote = nec
 button = KEY_RIGHT
 prog   = pylirc
 config = right
end

begin
 remote = nec
 button = KEY_UP
 prog   = pylirc
 config = up
end

begin
 remote = nec
 button = KEY_DOWN
 prog   = pylirc
 config = down
end

begin
 remote = nec
 button = KEY_ENTER
 prog   = pylirc
 config = mode
end
